<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.delab.mju.Mapper">
<!-- employee 부분 -->
    <resultMap type="employee" id="employeeResultMap">
        <result property="_emp_number" column="emp_number" />
        <result property="_user_id" column="user_id" />
        <result property="_user_password" column="user_password" />
        <result property="_name" column="name" />
        <result property="_SSN" column="SSN" />
        <result property="_email" column="email" />
        <result property="_phone" column="phone" />
        <result property="_dept_number" column="dept_number" />
        <result property="_final_a_a" column="final_a_a" />
        <result property="_gender" column="gender" />
        <result property="_since" column="since" />
        <result property="_career" column="career" />
        <result property="_position_number" column="position_number" />
        <result property="_salary" column="salary" />
        <result property="_access_control" column="access_control" />
    </resultMap>
   
    <!-- id의 경우에는 Mapper.java에 동일하게 사용해야된다. -->
    <select id="getemployee" resultMap="employeeResultMap">
        SELECT * FROM employee
    </select>
    
    <select id="selectidpwd" resultMap="employeeResultMap">
        SELECT * FROM employee where user_id = #{user_id}
    </select>
    
    <!-- parameterType 에는 구문에 전달될 파라미터의 패키지 경로를 포함한 전체 클래명이나 별칭이 들어간다  -->
    <insert id="insertemployee" parameterType="com.delab.mju.employee" >
       
    </insert>
    
    <!-- update와 delete는 생략한다. -->
    <update id=""></update>
    
    <delete id="deleteemployee" parameterType="com.delab.mju.employee">
      
    </delete>
    
    
    <!-- positions 부분 -->
    <resultMap type="positions" id="positionsResultMap">
        <result property="_position_number" column="position_number" />
        <result property="_position_name" column="position_name" />
    </resultMap>
    
    <select id="getpositions" resultMap="positionsResultMap">
        SELECT * FROM positions
    </select>
    
    
        <!-- department 부분 -->
    <resultMap type="department" id="departmentResultMap">
        <result property="_dept_number" column="dept_number" />
        <result property="_dept_name" column="dept_name" />
    </resultMap>
    
    <select id="getdepartment" resultMap="departmentResultMap">
        SELECT * FROM department
    </select>
    
        <!-- retire 부분 -->
    <resultMap type="retire" id="retireResultMap">
        <result property="_emp_number" column="emp_number" />
        <result property="_retire_day" column="retire_day" />
    </resultMap>
    
    <select id="getretire" resultMap="retireResultMap">
        SELECT * FROM retire
    </select>
    
     <!-- tech 부분 -->
    <resultMap type="own_technical_content" id="techResultMap">
        <result property="_emp_number" column="emp_number" />
        <result property="_tech_con_name" column="tech_con_name" />
        <result property="_level" column="level" />
    </resultMap>
    
    <select id="gettech" resultMap="techResultMap">
        SELECT * FROM own_technical_content
    </select>
    
    
  	<!-- project 부분 -->
    <resultMap type="project" id="projectResultMap">
        <result property="_project_number" column="project_number" />
        <result property="_project_name" column="project_name" />
        <result property="_project_since" column="project_since" />
        <result property="_project_end" column="project_end" />
        <result property="_client" column="client" />
    </resultMap>
   
    <select id="getproject" resultMap="projectResultMap">
        SELECT * FROM project
    </select>
    
   
    
    
    <!-- join_project 부분 -->
    <resultMap type="join_project" id="join_projectResultMap">
        <result property="_project_number" column="project_number" />
        <result property="_emp_number" column="emp_number" />
        <result property="_role_number" column="role_number" />
        <result property="_join_since" column="join_since" />
        <result property="_join_end" column="join_end" />
    </resultMap>
   
    <select id="getjoin_project" resultMap="join_projectResultMap">
        SELECT * FROM join_project
    </select>    
      
    <!-- role 부분 -->
    <resultMap type="role" id="roleResultMap">
        <result property="_role_number" column="role_number" />
        <result property="_role_name" column="role_name" />
    </resultMap>
   
    <select id="getrole" resultMap="roleResultMap">
        SELECT * FROM role
    </select>
    
   
  
    
 
</mapper>